* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-brand-text: #262626;
    --color-light-text: #898888;
    --border-radius: 1.1rem 1.1rem 0 0;
    --font-size-title: clamp(.9rem, 2vw, 2rem);
    --font-size-subtitle: clamp(.6rem, 2vw, .9rem);
}

body {
    font-family: "Archivo", sans-serif;
}

.blog {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem;
}

@media (max-width: 800px) {
    .blog {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
}

.blog-item {
    width: 25%;
    border-radius: var(--border-radius);
    text-decoration: none;
}

@media (max-width: 800px) {
    .blog-item {
        width: 70%;
    }
}

@media (min-width: 1700px) {
    .blog-item {
        width: 22rem;
    }
}

.blog-item-gallery {
    height: 15rem;
    position: relative;
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius); 
}

.gallery-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.21);
    opacity: .46;
    border-radius: var(--border-radius);
}

.blog-item-info {
    padding-top: .5rem;
    display: flex; 
    flex-direction: column;
    gap: 1rem;
}

.info-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-size-subtitle);
    color: var(--color-light-text);
}

.info-heading-label {
    padding: .3rem .6rem;
    background-color: rgba(210, 218, 252, 0.48);
    border-radius: 1.1rem;
}

.info-title {
    color: var(--color-brand-text);
    font-size: var(--font-size-title);
    font-weight: 500;
}

.info-user {
    display: flex;
    align-items: center;
    gap: .7rem;
}

.user-pic {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 50%;
}

.user-name {
    font-size: var(--font-size-subtitle);
    color: var(--color-light-text);
}